<!doctype html>
<html>
<head>
  <title>Madlibs!</title>
</head>
<body>

    <form action="/madlib">
        <h3>Please fill out the following:</h3>
        <br>
        Person: <input type="text" name="person">
        <br>
        <br>
        Color:
        <input type="radio" name="color" value="red">Red
        <input type="radio" name="color" value="blue">Blue
        <input type="radio" name="color" value="green">Green
        <br>
        <br>
        Noun:
        <input type="checkbox" name="noun" value="Balloonicorn">Balloonicorn
        <input type="checkbox" name="noun" value="ferret">Ferret
        <input type="checkbox" name="noun" value="picnic-blanket">Picnic Blanket
        <br>
        <br>
        Adjective:
            <select name="adjective">
                <option value="sassy">sassy</option>       
                <option value="smart">smart</option>
                <option value="confused">confused</option>
            </select>
        <br>
        <br>
        <input type="submit">
    </form>
</body>
</html>