<!doctype html>
<html>
<head>
  <title>Madlibs!</title>
</head>
<body>

    <form action="/madlib">
        <h3>Please fill out the following:</h3>
        <br>
        Person: <input type="text" name="person">
        <br>
        <br>
        Color:
        <input type="radio" name="color" value="red">Red
        <input type="radio" name="color" value="blue">Blue
        <input type="radio" name="color" value="green">Green
        <br>
        <br>
        Noun:
            <select name="noun">
                <option value="balloonicorn">Balloonicorn</option>       
                <option value="ferret">ferret</option>
                <option value="picnic-blanket">picnic blanket</option>
            </select>        
        <br>
        <br>
        Adjective:
        <input type="checkbox" name="adjective" value="confused">confused
        <input type="checkbox" name="adjective" value="sassy">sassy
        <input type="checkbox" name="adjective" value="smart">smart
        <br>
        <br>
        <input type="submit">
    </form>
</body>
</html>